<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Protect_AdminActions::security" 
             title="Security" 
             module="Protect_AdminActions" 
             sortOrder="90" 
             parent="Magento_Backend::system" 
             resource="Protect_AdminActions::security"/>
        <add id="Protect_AdminActions::actions_log" 
             title="Admin Actions Log" 
             module="Protect_AdminActions" 
             sortOrder="10" 
             parent="Protect_AdminActions::security" 
             action="adminactions/log/index" 
             resource="Protect_AdminActions::actions_log"/>
        <add id="Protect_AdminActions::login_attempts" 
             title="Login Attempts" 
             module="Protect_AdminActions" 
             sortOrder="20" 
             parent="Protect_AdminActions::security" 
             action="adminactions/login/index" 
             resource="Protect_AdminActions::login_attempts"/>
    </menu>
</config>
